.navbar {
  background-color: #333333;
}

.top-container {
  widows: 100%;
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: #fbeeea;
}

.slogan {
  position: relative;
  font-weight: bold;
  padding-top: 60px;
  padding-left: 40px;
  color: rgba(43, 60, 139, 0.801);

  font-size: 40px;
}

.description {
  position: relative;
  display: flex;
  align-items: left;
  color: rgb(221, 107, 107);
  font-size: 24px;
}

.top-container .btn {
  background-color: rgb(226, 112, 131);
}

.bg-main {
  position: relative;
}

.center-menu {
  background-color: white;
  padding-top:20px;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100px;
}

.center-menu ul li {
  display: inline;
  padding: 20px;
}

.center-menu ul li a {
  display: inline;
  text-decoration: none;
  color:rgb(75, 60, 60);
  
}

.center-menu ul li a:hover {
  background-color:rgb(206, 225, 228) ;
  color: rgb(2, 2, 2); 
  transition-duration: 1s;

 } 

 .center-menu .dropdown  {
  
  float:left;
  margin-left:20px;
  border-radius: 7px;
  padding-left: 25px;
  border:0.02rem solid rgb(128, 118, 118);
}

.web-design {
  position: relative;
  display:inline;
  background: rgba(58,139,187,0.15);
    color: #3a8bbb;
    padding: 10px 12px;
    border-radius: 7px;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.container {
  display: flex;
  flex-flow:wrap;
  
  height: 600px;

}

.item {
 width: 24%;
 margin-bottom: 2%; 
 
}
